<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                 <a class="nav-link text-dark" asp-area="" asp-controller="EditUser" asp-action="Index">EditUser</a>
             </li>

        }

    }

    else
    {

    }
</ul>
